.header_inner {
    margin: 0 auto;
    width: 90%;
}

/*.search_button {*/
/*    text-align: right;*/
/*}*/

.main_inner {
    margin: 0 auto;
    width: 90%;
}

form {
    margin: 0 auto;
    width: 100%;
}

.title, .tsk_content {
    display: flex;
    list-style: none;
    margin: 0 auto;
    border-bottom: 0.5px solid #C97D5D;
    border-left: 0.5px solid #C97D5D;
    /*border-right: 0.5px solid #C97D5D;*/
}

th:nth-child(1), td:nth-child(1) { width: 5%; }
th:nth-child(2), td:nth-child(2) { width: 18%; }
th:nth-child(3), td:nth-child(3) { width: 10%; }
th:nth-child(4), td:nth-child(4) { width: 10%; }
th:nth-child(5), td:nth-child(5) { width: 45%; }
th:nth-child(6), td:nth-child(6) { width: 12%; }
/*th:nth-child(7), td:nth-child(7) { width: 5%; }*/

table {
    width: 100%; /* テーブル全体の幅を100%にする */
    max-width: 100%;
    table-layout: fixed; /* 列の幅を均等にする */
    border-collapse: collapse; /* 枠線をスッキリ表示 */
    outline: none; /* 枠線の外側に余計な線がある場合に削除 */
    margin: 0 auto;
    background-color: #fff;
    border-spacing: 0; /* 各セルの枠線の間に隙間をなくす */
    /*display: block;*/
}

th {
    border-right: 0.5px solid #C97D5D; /* 枠線をつける */
    border-top: 0.5px solid #C97D5D;
    padding: 10px; /* 余白を設定 */
    text-align: center; /* 文字を中央揃え */
    overflow-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
    background-color: #E3A98A; /* ヘッダーの背景色 */
    color: #fff;
}

td {
    border-right: 0.5px solid #C97D5D; /* 枠線をつける */
    /*border-bottom: 0.5px solid #C97D5D; !* 枠線をつける *!*/
    overflow-wrap: break-word;
    word-break: break-word;
    height: 50px;
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    text-align: center;
    vertical-align: middle; /* 垂直中央揃え */
    padding: 0; /* 余白をなくして中央配置を正確にする */
    box-sizing: border-box;
    background-color: #fafafa;
    color: #682A19;
    /*border-color: #F8D3C1;*/
}


.button_area {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #B85C38;
}

.edit_button, .search_button {
    margin-left: 45px;
    display: inline-block;  /* インラインブロックで横並び可能 */
    background-color: transparent;
    color: #B85C38;  /* テキストカラー（メインカラー） */
    padding: 10px 24px;  /* 余白を調整 */
    letter-spacing: 1px;  /* 文字間隔を調整 */
    cursor: pointer;
    text-align: center;
}

input[type="submit"], .search_button a {
    display: flex;
    justify-content: center; /* 横中央揃え */
    align-items: center; /* 縦中央揃え */
    text-decoration: none; /* aタグの下線を消す */
    text-align: center;
    border: none;
    font-weight: normal;
    font-size: 18px;
    padding: 10px 20px;
    color: #B85C38;
}

.tsk_content, .title {
    /*margin: 0 auto;*/
    /*width: 100%;*/
    /*height: 100%;*/
}

.tsk_tittle {
    display: block;
    /*justify-content: center;*/
    /*align-items: center;*/
    text-align: left;
    margin: 80px auto 0 auto;
    /*margin: 0 auto;*/
    /*width: 90%;*/
}

.tsk_tittle h1 {
    margin: 80px auto 0 30px;
    /*background-color: #FFF;*/
    color: #B85C38;
}

html {
    background-color: #EFEFEF;
}

body {
    font-family: "Arial Rounded MT Bold", "Hiragino Maru Gothic Pro", "Yu Gothic Rounded", "Verdana", sans-serif;
}

footer {
    padding: 20px;
}